*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (max_width:460px)
{
    body {
background-color: gray;
color: white;
    }
}

#nav-bar {
    position: sticky;
    top: 0%;
    left: 0%;
    z-index: 1;
    padding:  1.5rem 3.5rem;
    background-color: aqua;
    box-shadow: 0 3px 5px rgba(red, green, blue, alpha);
}
ul {
    list-style-type: none;
    color: white;
}
a :hover{

    text-decoration: none;
    color: pink;
}
a{
    text-decoration: none;
    color: blue;
}
.nav-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#header-img {
    max-width: 70%;
    display: block;

}